[submodule "vendor/github.com/mattn/go-shellwords"]
	path = vendor/github.com/mattn/go-shellwords
	url = https://github.com/mattn/go-shellwords
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/gopkg.in/alecthomas/kingpin.v2"]
	path = vendor/gopkg.in/alecthomas/kingpin.v2
	url = https://gopkg.in/alecthomas/kingpin.v2
[submodule "vendor/github.com/alecthomas/kingpin"]
	path = vendor/github.com/alecthomas/kingpin
	url = https://github.com/alecthomas/kingpin
[submodule "vendor/github.com/alecthomas/template"]
	path = vendor/github.com/alecthomas/template
	url = https://github.com/alecthomas/template
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units
